.header_wrap{
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}
.header_brand_container{
    width: 100%;
    height: 6.5rem;
    display: flex;
    align-items: center;
}
.header_brand_container > img{
    height: 85%;
}
.auth_container{
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: flex-end;
    font-family: 'Noto Sans', sans-serif;
}
.auth_link{
    text-decoration: none;
    font-size: 1.5rem;
    color:white;
    font-weight: 700;
    margin-left: 1rem;
}
.header-search_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-search_wrap{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 4rem;
    cursor: pointer;
    border-radius: 5rem;
    overflow: hidden;
}
.header-search_wrap > input{
    width: 85%;
    height: 100%;
    border:none;
    outline: none;
    padding-left: 1.5rem;
    font-size: 1.5rem;
}
.header-search_icons{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.7rem;
}
.header-search_icons:hover{
    background-color: rgba(0,0,0,0.1);
}
.mobile_header-bars{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    color:white;
    width: 100%;
    height: 100%;
}
.mobile_icons{
    cursor: pointer;
}
.header_wrap-footer{
    background-color: #FF8A08;
}

@media only screen and (max-width:739px){
    .header_wrap-head,
    .header_wrap-footer{
      padding:0 2rem;
    }
}
.navbar_lists_wrap{
    display: flex;
    list-style: none;
    height: 5rem;
}
.navbar_lists_wrap > li{
    padding:0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 0.1rem solid rgba(0,0,0,0.05);
    cursor: pointer;
    position: relative;
}
.navbar_lists_wrap > li:first-child{
    border-left: 0.1rem solid rgba(0,0,0,0.05);
}
.navbar_lists_wrap > li:hover{
    background-color: rgba(0,0,0,0.1);
}
.navbar_items{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar_item-infor{
    font-size: 1.6rem;
    color:white;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.kinds_icons{
    margin-left: 1rem;
    padding-bottom: 0.3rem;
}

@keyframes appearing{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.navbar_lists_wrap > li:hover .navbar_item-kinds_container{
    display: flex;
    animation: appearing ease 0.8s forwards;
}
.navbar_item-kinds_container{
    position: absolute;
    top: 95%;
    left:0;
    list-style: none;
    width: 25rem;
    background-color: white;
    z-index: 100;
    display: none;
    box-shadow:0 0 0.5rem 0.1rem rgba(0,0,0,0.7);
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0 0.5rem;
}
.navbar_item-kinds_items{
    width: 45%;
    text-decoration: none;
}
.navbar_item-kinds_items > li{
    height: 5rem;
    color:black;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all ease 0.2s;
    text-transform: capitalize;
}
.navbar_item-kinds_items > li:hover{
    transform: translateX(1rem);
    color:#FF8A08;
}