.home_icon_container{
    position: fixed;
    top:1.5rem;
    left:1.5rem;
}
.home_icon_wrap{
    width: 4rem;
    height: 4rem;
    border:0.1rem solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color:white;
    border-radius: 50%;
}